*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;  
} 

main{
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    margin-top: 20%
}

table,td,th{
    border: 2px solid  ;
    color: black;
    
}
thead td{
    font-weight: bold;
    text-align: center;
    color: brown;
    padding: 5px;
    background: #eee;
}
.table{
    border: 2px solid black;
}